@import "https://fonts.googleapis.com/css?family=Raleway:200";
body {
  background-color: #ECEFF1;
  color: #37474F;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-weight: 200;
}

b, strong {
  font-weight: bold;
}

.favorite-icon.fa-star.far, .favorite-icon.fa-star.fas {
  color: #fff;
}
.favorite-icon.fa-star.far:hover, .favorite-icon.fa-star.fas:hover {
  cursor: pointer;
}

/* Buttons */
.btn-action {
  position: absolute;
  left: 0;
  top: 10px;
  background: #607D8B;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  color: #fff !important;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-action:hover {
  background-color: #263238;
}

.btn-close {
  width: 20px;
  height: 20px;
  background: transparent url(https://flaticons.net/icon.php?slug_category=mobile-application&slug_icon=close);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: -0.5rem 0rem -0.5rem auto !important;
  box-sizing: revert;
}

/* Modal*/
.modal-header {
  background: #607D8B;
  color: #fff;
}
.modal-header button.btn-close {
  color: #fff;
}

.modal-img {
  margin-right: 15px;
  width: 200px;
}
.modal-img img {
  object-fit: cover;
}

.bottom {
  bottom: 0;
}

/* Card */
.card {
  height: 100%;
  background: none;
  border: none;
}
.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.card .card-img-top:hover {
  cursor: pointer;
}

.card-body {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #607D8B;
  padding: 0.2rem 1rem;
}
.card-body i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-body h2 {
  margin-bottom: 0;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.6em;
}
.card-body h2:before {
  content: " ";
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
  border-top-color: transparent;
  border-right-color: #263238;
  border-bottom-color: #263238;
  border-left-color: transparent;
  transition: all 0.3s;
}
.card-body h2:after {
  width: 0;
  border: 8px solid;
  content: " ";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  border-top-color: #607D8B;
  border-right-color: #607D8B;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transition: all 0.3s;
}

.img-body {
  padding-left: 16px;
}

.card-single {
  position: relative;
}
.card-single h2 {
  margin-bottom: 20px;
  font-weight: 700;
}
.card-single p {
  color: #fff;
  position: relative;
  margin-bottom: 8px;
}
.card-single p:last-child {
  margin-bottom: 0;
}
.card-single p i {
  position: relative;
  top: 0;
  right: 0;
  min-width: 15px;
}
.card-single .back-btn {
  position: absolute;
  top: 0px;
  left: 30px;
  border: none !important;
  background: 0 0 !important;
  margin: 0;
  padding: 0;
  height: unset;
  width: unset;
  line-height: unset;
  display: flex;
}
.card-single .back-btn i.fa-chevron-left {
  color: #fff;
}
.card-single h2:before {
  border: none !important;
}
.card-single h2:after {
  border: none !important;
}